@(name: String, feeds: List[(scala.xml.Elem, String)])
<div>
	<h1>@name</h1>
	@for((feed,contentType) <- feeds) {
		@contentType match {
			case "application/atom+xml" => {
				<h2>@{(feed \ "title").text}</h2>
				@for(item <- (feed \\ "entry") take 5) {
					<h3><a href="@{(item \ "link" \ "@href").text}">@((item \ "title").text)</a></h3>
					<p>@Html((item \ "summary").text)</p>
					<p>@Html((item \ "content").text)</p>
				}
			}
			case _ => {
				<h2>@{(feed \ "channel" \ "title").text}</h2>
				@for(item <- (feed \\ "item") take 5) {
					<h3><a href="@{(item \ "link").text}">@((item \ "title").text)</a></h3>
					<p>@Html((item \ "description").text)</p>
				}
			}
		}
	}
</div>