@(caption: String, jobs: Seq[Job], criterionLabel: String)

@import play.api.libs.json._

@criterionLabel match {

  case "priorities" => {
    <h1>@caption, by @criterionLabel</h1>
    @jobsSection(job => job.priorities)
  }

  case "skills" => {
	<h1>@caption, by @criterionLabel</h1>
    @jobsSection(job => job.skills)
  }
}

@jobsSection(criterionFun: Job => models.Criterion) = {
	@jobs.sortBy(criterionFun(_).score())(Ordering[String].reverse).map { job =>
		@jobData(criterionLabel.capitalize, job, criterionFun(job))
	}
}

@jobData(label: String, job: models.Job, criterion: models.Criterion) = {
	<h1>@job.id</h1>
	<h2>Score</h2>
	@criterion.score()
	@jobDataDescription(label, criterion)
	@tags.attributes(job.attributes)
}

@jobDataDescription(label: String, criterion: models.Criterion) = {
	<h2>@label</h2>
	<dl>
	@criterion.data.map { p =>
		<dt>@p._1</dt>
		<dd>@p._2("score"): @p._2("comment")</dd>
	}
	</dl>
}