@(caption: String, jobs: Seq[Job])

@import play.api.libs.json._

<h1>@caption, by priorities</h1>
@jobs.sortBy(_.priorities.score())(Ordering[String].reverse).map { job =>
	@jobData("Priorities", job, job.priorities)
}

<h1>@caption, by skills</h1>
@jobs.sortBy(_.skills.score())(Ordering[String].reverse).map { job =>
	@jobData("Skills", job, job.skills)
}

@jobData(label: String, job: models.Job, data: models.Criterion) = {
	<h1>@job.id</h1>
	<h2>Score</h2>
	@data.score()
	@jobDataDescription(label, data)
	@tags.attributes(job.attributes)
}

@jobDataDescription(kind: String, data: models.Criterion) = {
	<h2>@kind</h2>
	<dl>
	@data.data.map { p =>
		<dt>@p._1</dt>
		<dd>@p._2("score"): @p._2("comment")</dd>
	}
	</dl>
}