@(title: String)(content: Html)

@feedIcon() = {
	<img height="15px" src="http://upload.wikimedia.org/wikipedia/commons/4/43/Feed-icon.svg"/>
}

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <p>
            <a href="@routes.Application.index">index</a> | 
            <a href="@routes.Profile.index">profile</a> | 
            jobs by 
            <a href="@routes.Jobs.index("priorities")">priorities</a>, 
            <a href="@routes.Jobs.index("skills")">skills</a> |
            projects by 
            <a href="@routes.Projects.index("priorities")">priorities</a>, 
            <a href="@routes.Projects.index("skills")">skills</a> |
            <a href="@routes.Notes.index">notes</a>, 
            <a href="@routes.Posts.index">posts</a> @feedIcon
        </p>
        @content
    </body>
</html>
