@(user: models.User, jobs: Seq[Job])

@import play.api.libs.json._

@main("Profile") {
	<h1>Profile</h1>
	@userData(user)
	@tags.jobs("Jobs", jobs)
}

@userData(profile: models.User) = {
	<h1>@profile.id</h1>
	@userDataDescription("Priorities", profile.priorities)
	@userDataDescription("Skills", profile.skills)
	@tags.attributes(profile.attributes)
}

@userDataDescription(kind: String, data: List[Map[String, String]]) = {
	<h2>@kind</h2>
	<dl>
	@data.map { p =>
		<dt>@p("label")</dt>
		<dd>@p("comment")</dd>
	}
	</dl>
}